body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18pt;
  padding: 1rem;
  background-color: #f8f8f8 !important;
}

nav {
  font-size: 120%;
}

nav a:not(:last-child)::after {
  content: '|';
  margin: 0 0.5rem;
}

section {
  border: 1px solid lightslategray;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 3px;
  background-color: white;
}

section h2 {
  font-size: large;
  font-weight: bold;
}
