@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Book Club</h1>
    <p class="lead">
        This is a simple web application for tracking the book club's latest notes and current readings
    </p>
</div>

<div class="d-flex">
    @foreach(var book in Model)
    {
        <div class="d-flex flex-column border rounded p-2 m-1" style="width: 130px;">
            <img class="img-responsive" height="140" src="@book.Image" alt="@book.Name" />
            <strong>@book.Name</strong>
            <span>@book.Author.Name</span>
        </div>
    }
</div>

