@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Book Club</h1>
    <p class="lead">
        This is a simple web application for tracking the book club's latest notes and current readings
    </p>
</div>

@foreach(var book in Model)
{
    <img class="img-responsive" height="140" src="@book.Image" alt="@book.Name" />
}
